<header class="header">
        <nav class="navbar">
        <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <!-- Vous pouvez ajouter un logo si souhaité -->
                    Hospital Plus
                </a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-login">
                <partial name="_LoginPartial" />
            </div>
        </nav>
</header>
