<!DOCTYPE html>
<html lang="en" class="custom-html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Plus</title>

    <!-- Font Awesome 6 (icônes) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_Header")

    <div class="content">
            @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2025 - Hospital Plus - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
