@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Gestion des utilisateurs";
}

<h1>Liste des Utilisateurs</h1>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary" asp-action="ManageRoles" asp-controller="Admin" asp-route-id="@user.Id">Gérer Rôles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
